<%- include("header"); %>
<h1 class="box" id="heading">This section is about me.</h1>
<p class="box">All the things in this site is created by me. feel free to use it.</p>

<%- include("footer") %>